name: CI

on:
  pull_request:
    branches:
      - production
  push:
    branches:
      - production

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Type Check
        run: npm run check-types

      - name: Test
        run: npm test --if-present
        working-directory: packages/githubcron

