name: web-app-cron

on:
  schedule:
    - cron: '* * * * *'
    - cron: '0 9 * * *'
    - cron: '0 2 * * 0'
    - cron: '0 */6 * * *'
    - cron: '0 0 * * *'
  workflow_dispatch:  # Allows manual trigger from GitHub UI

jobs:
  trigger-ping:
    runs-on: ubuntu-latest
    
    if: github.event_name == 'schedule' && github.event.schedule == '* * * * *' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Trigger ping
        run: |
          curl -X POST \
            -H "X-Cron-Secret: ${{ secrets.GITHUBCRON_SECRET }}" \
            -H "Content-Type: application/json" \
            -f \
            ${{ vars.GITHUBCRON_APP_URL }}/api/cron/ping
        continue-on-error: false
  trigger-send-daily-digest:
    runs-on: ubuntu-latest
    
    if: github.event_name == 'schedule' && github.event.schedule == '0 9 * * *' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Trigger send-daily-digest
        run: |
          curl -X POST \
            -H "X-Cron-Secret: ${{ secrets.GITHUBCRON_SECRET }}" \
            -H "Content-Type: application/json" \
            -f \
            ${{ vars.GITHUBCRON_APP_URL }}/api/cron/send-daily-digest
        continue-on-error: false
  trigger-cleanup-old-data:
    runs-on: ubuntu-latest
    
    if: github.event_name == 'schedule' && github.event.schedule == '0 2 * * 0' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Trigger cleanup-old-data
        run: |
          curl -X POST \
            -H "X-Cron-Secret: ${{ secrets.GITHUBCRON_SECRET }}" \
            -H "Content-Type: application/json" \
            -f \
            ${{ vars.GITHUBCRON_APP_URL }}/api/cron/cleanup-old-data
        continue-on-error: false
  trigger-sync-external-data-1:
    runs-on: ubuntu-latest
    
    if: github.event_name == 'schedule' && github.event.schedule == '0 */6 * * *' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Trigger sync-external-data (Schedule 1)
        run: |
          curl -X POST \
            -H "X-Cron-Secret: ${{ secrets.GITHUBCRON_SECRET }}" \
            -H "Content-Type: application/json" \
            -f \
            ${{ vars.GITHUBCRON_APP_URL }}/api/cron/sync-external-data
        continue-on-error: false
  trigger-sync-external-data-2:
    runs-on: ubuntu-latest
    
    if: github.event_name == 'schedule' && github.event.schedule == '0 0 * * *' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Trigger sync-external-data (Schedule 2)
        run: |
          curl -X POST \
            -H "X-Cron-Secret: ${{ secrets.GITHUBCRON_SECRET }}" \
            -H "Content-Type: application/json" \
            -f \
            ${{ vars.GITHUBCRON_APP_URL }}/api/cron/sync-external-data
        continue-on-error: false
